.liga {
    width: 100px;
    height: 100px;
    background: blueviolet;
    transition: width 2s, height 2s, margin 2s;
    margin: 50px auto 0;
}
.liga :hover{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
