body {
    text-align: center;
}
#principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #dddddd;

    -moz-border-radius: 20px ;
    -webkit-border-radius: 20px ;
    border-radius: 20px ;

    -moz-box-shadow: rgb(150,150,150) 5px 5px 10px inset;
    -webkit-box-shadow:rgb(150,150,150) 5px 5px 10px inset;
    box-shadow: rgb (150,150,150) 5px 5px 10px inset;

    background: -webkit-linear-gradient(top, #FFFFFF, #006699);
background: -moz-linaer-gradient(top,  #FFFFFF, #006699);

background: radial-gradient(center, circle, #FFFFFF 0%, #006699 200%);

outline: 2px dashed #000099;
outline-offset: 15px;

border: 29px;
-moz-border-image: url("images/diamonds.png") 29 stretch;
-webkit-border-image: url("diamonds.png") 29 stretch;
border-image: url("diamonds.png") 29 stretch;




}
#pincipal:hover{-moz-transform:rotate(25deg);
    -webkit-transform:rotate(25deg);
    transform: rotate(25deg);}
#titulo {
    font: bold 36px verdana, sans-serif;
    text-shadow: rgb(0,0,0,0.5) 3px 3px 5px;

    color:hsla(120, 100%, 50%,0.5);
}
